
<div class="row">
  <% @businesses.each do |business| %>
  <div class="col-sm-6 col-md-4 col-lg-4 individual-business">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=link_to "#{business.username}", business_jobs_path(business: business.slug ) %></h3>
        <p><%= business.description %></p><br>
        <% if current_admin? %>
        <p>Current Status: <%= business.show_status %> <%= button_to "Change Status", admin_business_change_status_path(business), method: 'patch' %></p>
        <p><%= button_to "Edit Business", edit_user_path(business), method: 'get', class: "btn btn-primary" %></p>
        <% else %>
        <p><%= button_to "See Available Jobs", business_jobs_path(business: business.slug), method: 'get', class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
