<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-styles">
    <h1>Create A Business Account</h1>
      <%= form_for @business, url: business_submit_path do |f| %>
          <p>
          <%= f.label :name, "Business Legal Name" %></p>
          <%= f.text_field :name, placeholder: "Required", class: "form-control" %></p>

          <p><%= f.label :username, "Business Display Name" %></p>
          <p><%= f.text_field :username, placeholder: "Required", class: "form-control" %></p>

          <p><%= f.label :description, "Write a short bio for Business" %></p>
          <p><%= f.text_area :description, placeholder: "Write a short bio for Business.... (Suggested)", class: "form-control" %></p>

          <p><%= f.label :email, "Business Email" %></p>
          <p><%= f.text_field :email, placeholder: "Required", class: "form-control" %></p>

          <p><%= f.label :location, "Location  (required)" %></p>
          <p><%= f.text_field :location, placeholder: "Location", class: "form-control" %></p>

          <p><%= f.label :password, "Password" %></p>
          <p><%= f.password_field :password, placeholder: "Required", class: "form-control" %></p>

          <p><%= f.label :password_confirmation, "Password confirmation" %></p>
          <p><%= f.password_field :password_confirmation, placeholder: "Required", class: "form-control" %></p>

          <p><%= f.label :picture, "Attach a Picture" %></p>

          <p><%= f.file_field :picture, class: "form-control" %></p>

          <p><%= f.submit "Submit", class: "btn btn-primary" %></p>

      <% end %>

      Already a user?
        <p><%= button_to "Login", login_path, method: :get, class: "btn btn-primary" %><p></div>

    </div>
  </div>
</div>
