<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-styles">

      <h1>Login to Jo.bs</h1>

      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, 'Email  (required)' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, 'Password  (required)' %>
        <%= f.password_field :password, class: 'form-control'%>

        <div class="text-center">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>

      <% end %>

      <div class="text-center">
        <%= link_to "Login with Twitter", login_twitter_path, class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
