
<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <h2>Manage Administrators</h2>
      <%= link_to "Add New Administrator", new_business_administrative_management_path(business: @user.id), class: "btn btn-primary" %> <br><br>
      <table class="table table-bordered table-striped"align="center">
        <tr>
          <td>Admin Name</td>
          <td>Admin Title</td>
          <td>Admin Email</td>
          <td>Admin Options</td>
        </tr>
          <% @business_admins.each do |admin| %>
            <tr>
              <td><%= admin.name %></td>
              <td><%= admin.title %></td>
              <td><%= admin.email %></td>
              <td>
              <%= button_to "Edit", edit_business_administrative_management_path(admin, business: admin.employer.slug), method: "get", class: "btn btn-primary" %>
              <%= button_to "Delete", business_administrative_management_path(admin, business: admin.employer.slug), method: "delete", class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
