Hi <%= @job_application.user.name %>!

<p>You have successfully placed an job_application with Jo.bs.</p>
<p>Please find the details of job_application below.</p>

<p>Thanks,</p>
<p>The Jo.bs Dev Team</p>

<h1>Application Information</h1>

<h3>Applicant: <%= @job_application.user.name %> - email: <%= @job_application.user.email %></h3>
  <h4>ordered: <%= @job_application.date_applied(@job_application.created_at) %></h4>
    <h4>Current Status: <%= @job_application.show_status %></h4>

<table class="table-striped">
  <tr>
    <td>Job Title</td>
  </tr>
  <tr>
    <td><%= @job_application.job.title %></td>
  </tr>
</table><br>
