<%= render "layouts/jobs_show" %>



<!-- <h1><%= @job.title %></h1>

<%= image_tag User.find(@job.user_id).picture.url(:medium) %>


<ul>
  <li><p>JOB DESCRIPTION:</p><%= @job.description %></li>

  <% @job.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>


<%= button_to "Apply to Job", checkout_path(job_id: @job.id) %>


<% if current_admin? || current_business_admin? || current_business? %>
  <p><%= link_to "Edit", edit_business_job_path(business: @job.user.slug) %></p>
<% end %> -->
