<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-styles">

      <%= form_for(@user, url: users_path, html: {multipart: true}) do |f| %>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, placeholder: "(required)", class: 'form-control' %>

        <%= f.label :username, 'Username' %>
        <%= f.text_field :username, placeholder: "(required)", class: 'form-control' %>

        <%= f.label :description, 'Bio' %>
        <%= f.text_area :description, placeholder: "Write a short bio for yourself", class: 'form-control' %>

        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, placeholder: "(required)", class: 'form-control' %>

        <%= f.label :location, 'Location' %>
        <%= f.text_field :location, placeholder: "(required)", class: 'form-control' %>

        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, placeholder: "(required)", class: 'form-control' %></p>

        <%= f.label :password_confirmation, 'Password confirmation' %>
        <%= f.password_field :password_confirmation, placeholder: "(required)", class: 'form-control' %>

        <%= f.label :picture, "Attach a Picture" %>
        <%= f.file_field :picture, class: 'form-control' %>

        <div class="text-center">
          <%= f.submit "Submit User Information", class: "btn btn-primary" %>
        </div>

      <% end %>


      <hr>


      <h3>Already signed up?</h3>

      <div class="text-center">
        <%= button_to "Login", login_path, method: :get, class: "btn btn-primary" %>
      </div>


    </div>
  </div>
</div>
