<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 form-styles">

      <h1>Edit Job</h1>

      <div class="form">
        <%= form_for @job, url: {controller: "businesses/jobs", action: "update", id: @job} do |f| %>
          <%= f.label :job_title, 'Job title' %>
          <%= f.text_field :title, class: 'form-control' %><br>

          <%= f.label :description, 'Description' %>
          <%= f.text_area :description, class: 'form-control' %><br>

          <hr>

          <div class="text-center">
            <%= f.collection_check_boxes(:category_ids, @categories, :id, :name) %>
          </div>

          <hr>

          <div class="collection text-center">
            <%= f.label :status %><br>
            Unavailable <%= f.radio_button :status, false  %><br>
            Available <%= f.radio_button :status, true  %>
          </div>

          <hr>

          <div class="text-center">
            <%= f.submit "Submit Job", class: "btn btn-primary" %>
          </div><br>

        <% end %>
      </div>

    </div>
  </div>
</div>
