<h1 class="job-category-name">
  <%= @business.username.capitalize %> Jobs List
</h1>

<%= render "layouts/jobs_index" %>



<!-- <div class="index-container">
<h2> <%= @business.username.capitalize %> Jobs List</h2>
<h3> <%= @business.description %></h3>

  <% @jobs.each do |job| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to "#{job.title}", business_job_path(id: job.id)  %>
      <%= job.description %>
      <%= button_to "Apply to Job", checkout_path(job_id: job.id) %>

    </div>
  <% end %>

</div> -->
