<div class="admin_job_show">

  <h2><%= @job.title %></h2>
  <%= image_tag User.find(@job.users_id).picture.url(:medium) %>
  <ul>
    <li><%= @job.description %></li>
    <li><%= number_to_currency(@job.posting_cost.to_f / 100.00) %></li>
    <li><%= @job.show_status %></li>
    <li><%= link_to "Edit", edit_admin_job_path(@job) %></li>

    <% @job.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>

</div>
