<h2><%= @job.title %></h2>
  <%= image_tag User.find(@job.user_id).picture.url(:medium) %>
  <ul>
    <li><%= @job.description %></li>
    <li><%= number_to_currency(@job.posting_cost.to_f / 100.00) %></li>
    <li><%= @job.show_status %></li>
    <% @job.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>


  <% if current_admin? || current_business_admin? || current_business? %>
    <p><%= link_to "Edit", edit_business_job_path(business: @job.user.slug) %></p>
  <% end %>
