<br>
<h1 class="text-center"><%= "#{current_user.employer.slug}'s Current Jobs" %></h1>
<br>

<div class="pagination_centered">
  <%= will_paginate @job_applications %>
</div>

<table class="table table-bordered table-striped"id="first_table">
  <tr>
    <th>Job Title</th>
    <th>User Name</th>
    <th>Created_At</th>
    <th>Last_Updated_At</th>
    <th>Status</th>
    <th>Update Status</th>
    <th>Resume</th>
  </tr>

  <div class="job_applications">
    <% @job_applications.select { |app| app.job.user.id == current_user.employer_id }.each do |job_application| %>
      <tr class="job_application" data-status="<%= job_application.status %>">
        <td><%= link_to "#{job_application.job.title}", job_path(id: job_application.job_id) %></td>
        <td><%= job_application.user.name %></td>
        <td><%= job_application.date_created %></td>
        <td><%= job_application.date_updated %></td>
        <td class="order_status"><%= job_application.status %></td>
        <td><%= link_to "Received", admin_job_application_update_path({job_application_id: job_application.id, status: "received"}), method: :post %>
            <%= link_to "Accepted", admin_job_application_update_path({job_application_id: job_application.id, status: "accepted"}), method: "post" %>
            <%= link_to "Rejected", admin_job_application_update_path({job_application_id: job_application.id, status: "rejected"}), method: "post" %>
          </td>
        <td>
          <% job_application.user.resumes.each do |resume| %>
            <%= link_to "Download Resume: ' #{resume.name} '" , resume.attachment_url %></td>
          <% end %>
        </td>
      </tr>
    <% end %>
  </div>

</table>
