<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">



      <h2>Your Basket</h2>
      <table border = 2px >
        <tr>
          <td>Company</td>
          <td>Position</td>
          <td>Remove</td>
        </tr>
        <tr>
      <% @jobs.each do |job| %>

          <td><%= job.user.username %></td>
          <td><%= job.title %></td>
          <td><%= button_to "Remove", checkout_remove_path(job_id: job.id)%></td>
        </tr>
      <% end %>
      </table>

      <% if current_user %>
      <%= button_to "Checkout", checkout_confirmation_path, method: :get %>
      <%= form_for :job_application, url: checkout_confirmation_path do |f| %>
      <%= f.label "Upload Your Resume" %>
      <%= f.file_field :resume %>
      <% end %>
      <% else %>
      <%= button_to "Checkout", new_user_path(origin: {destination: "checkout"}), method: :get %>
      <% end %>


      </div>


  </div>

</div>
