<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">



      <h2>Your Basket</h2>
      <table class="table table-bordered table-striped"border = 2px >
        <tr>
          <td>Company</td>
          <td>Position</td>
          <td>Remove</td>
        </tr>
        <tr>
      <% @jobs.each do |job| %>

          <td><%= job.user.username %></td>
          <td><%= job.title %></td>
          <td><%= button_to "Remove", checkout_remove_path(job_id: job.id), class: "btn btn-danger"%></td>
        </tr>
      <% end %>
      </table>

      <% if current_user %>
        <% current_user.resumes.each do |resume| %>
          <tr>
            <td><%= resume.name %></td>
            <td><%= link_to "Download Resume", resume.attachment_url %></td>
          </tr>
        <% end %>
        <%= button_to "Submit Application(s)", checkout_confirmation_path %>
      <% else %>
      <%= button_to "Submit", new_user_path(origin: {destination: "checkout"}), method: :get %>
      <% end %>


      </div>


  </div>

</div>
