<div class="form">
  <%= form_for([:admin, @category]) do |f|%>
    <div>
      <%= f.label :name, "Category Title" %>
      <%= f.text_field :name, placeholder: "required", class: "form-control" %>
    </div><br>

    <div>
      <%= f.label :description, "Category Description" %>
      <%= f.text_area :description, placeholder: "required", class: "form-control" %>
    </div><br>
    <div class="submit">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
