<div class="container dashboard-page">
  <div class="jobs-list row">
    <div class="col-md-6 col-md-offset-3">


        <h1 class="job-category-name">Job Application Dashboard</h1>

          <h3>Job Application Summary</h3>
          <table>
            <tr>
              <th>Received</th>
              <th>Accepted</th>
              <th>Rejected</th>
            </tr>
            <tr>
              <td><%= @job_applications.number_currently_received %></td>
              <td><%= @job_applications.number_currently_accepted %></td>
              <td><%= @job_applications.number_currently_rejected %></td>
            </tr>
          </table>
          <p><%= render "admin/job_applications/filter" %></p>
        <br>

            <h3>All Job Applications</h3>
            <table id="first_table">
              <tr>
                <th>Application_id</th>
                <th>User_id</th>
                <th>Created_At</th>
                <th>Last_Updated_At</th>
                <th>Status</th>
                <th>update Status</th>
              </tr>

              <div class="job_applications">
                <% @job_applications.each do |job_application| %>
                  <tr class="job_application" data-status="<%= job_application.status %>">
                    <td><%= link_to "#{job_application.id}", admin_job_application_path({job_application_id: job_application.id}) %></td>
                    <td><%= job_application.user_id %></td>
                    <td><%= job_application.date_created %></td>
                    <td><%= job_application.date_updated %></td>
                    <td class="order_status"><%= job_application.status %></td>
                    <td><%= link_to "Received", admin_job_application_update_path({job_application_id: job_application.id, status: "received"}), method: :post %>
                        <%= link_to "Accepted", admin_job_application_update_path({job_application_id: job_application.id, status: "accepted"}), method: "post" %>
                        <%= link_to "Rejected", admin_job_application_update_path({job_application_id: job_application.id, status: "rejected"}), method: "post" %>
                      </td>
                  </tr>
                <% end %>
              </div>

            </table>




    </div>
  </div>
</div>
