<div class="admin_job_application_show">
<h1>Application Information</h1>
<h3>Candidate: <%= @job_application.user.name %> - email: <%= @job_application.user.email %></h3>
  <h4>Applied: <%= @job_application.date_applied(@job_application.created_at) %></h4>
    <h4>Current Status: <%= @job_application.show_status %></h4>

<table>
  <tr>
    <td>Job Title</td>
    <td>Job Posting Cost</td>
  </tr>
  <tr>
    <td><%=link_to @job_application.job.title, job_path(@job_application.job) %></td>
    <td><%= number_to_currency(@job_application.job.posting_cost / 100.00) %></td>
  </tr>
</table><br><br>

    <p>
      Change Application's Status:
    </p>
    <ul>
      <li><%= link_to "Processing", admin_job_application_update_path({job_application_id: @job_application.id, status: "processing"}), method: :post %></li>
      <li><%= link_to "Processed", admin_job_application_update_path({job_application_id: @job_application.id, status: "processed"}), method: "post" %></li>
    </ul>
</div>
