<div class="container">
  <div class="jobs-list row">
    <div class="col-md-6 col-md-offset-3">

      <div class="jobs-show">

        <!-- Business name -->
        <h1> <%= @job.user.name %></h1>

        <h3> <%= @job.title %> </h3>

        <%= image_tag User.find(@job.user_id).picture.url(:medium), class: "img img-circle" %>

        <h4>JOB DESCRIPTION:</h4>
        <p> <%= @job.description %> </p>


        <h4>JOB CATEGORIES:</h4>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <% @job.categories.each do |category| %>
                <p> <%=link_to "#{category.name}", category_path(category) %> </p>
              <% end %>
          </div>
          </div>

        <div class="btn center-block">
          <%= button_to "Add Job to Basket", checkout_path(job_id: @job.id), class: 'btn btn-md btn-primary' %><br>


        <% if current_business? && current_owner? || current_admin? %>
          <%= link_to "Edit", edit_business_job_path(business: @job.user.slug), class: 'btn btn-md btn-primary' %>
        <% end %>

        </div>
      </div>


    </div>
  </div>
</div>
