<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed inverse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p><%= link_to "Jo.bs", root_path, class: "navbar-brand" %></p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/jobs" class="dropdown-toggle nav-category" data-toggle="dropdown" role="button" aria-expanded="false">Job Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% @categories.each do |category| %>
            <li><%= link_to "#{category.name}", category_path(category) %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "All Jobs", jobs_path %></li>
        <li><%= link_to "Businesses", businesses_path, class: 'nav-category' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Job Basket (#{@cart.count_all})", checkout_path %></li>
      <% if logged_in? %>
        <% if current_user.admin?%>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Business Dashboard", admin_dashboard_path %></li>
            <li><%= link_to "All Job Categories", admin_categories_path %></li>
            <li><%= link_to "All Jobs", jobs_path %></li>
            <li><%= link_to "Create Job", new_business_job_path %></li>
            <li><%= link_to "All Applications", admin_job_applications_path %></li>
          </ul>
        </li>

        <% elsif current_user %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "My Account", current_user %></li>
            <li><%= link_to "Application History", user_job_applications_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Signed in as: <%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
