<!DOCTYPE html>
<html>

  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Six+Caps' rel='stylesheet' type='text/css'>
    <title>Jo.bs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


  <body>

    <%= render 'layouts/nav' %>

    <div class="flashes">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "{name}" %>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>

</html>
